body {
  text-align: center;
  background-color: rgb(5, 104, 13);
  align-items: center;
}

.info {
  width: 300px;
  height: 75px;
  cursor: pointer;
}

.info:hover{
  background-color: black;
  color: white;
} 